# Copy to .env and fill in values from https://account.upstox.com/developer/apps
UPSTOX_API_KEY=bfe43e84-2da2-43ae-80cf-88e08386aa19
UPSTOX_API_SECRET=74c2q95mji
UPSTOX_REDIRECT_URI=http://127.0.0.1
UPSTOX_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJrZXlfaWQiOiJza192MS4wIiwiYWxnIjoiSFMyNTYifQ.eyJzdWIiOiI1WENKUTQiLCJqdGkiOiI2YTQyODU0YzJhNDA2ZTQ5OWI0MDMxYmYiLCJpc011bHRpQ2xpZW50IjpmYWxzZSwiaXNQbHVzUGxhbiI6ZmFsc2UsImlhdCI6MTc4Mjc0NDM5NiwiaXNzIjoidWRhcGktZ2F0ZXdheS1zZXJ2aWNlIiwiZXhwIjoxNzgyNzcwNDAwfQ.pksLijOMNZgt9kSphTQmnvxEUV0yWpGTzLcSePhbVo0
